<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "main.css" %}'>
  </head>
  <body>
    <h1>About Ben:</h1>
    <h4>I am a software developer with a strong passion for solving problems and helping people which reflects my brand of leadership and sets a good example for my peers. Pairing these skills with my passion for human rights, community outreach, and environmental responsibility, I am an asset to any professional team and always do everything I can to make the world a better place.</h4>
    <h4>Portfolios:</h4>
    <a href='https://benjaminjackpitts.dev' target='blank'>Professional</a> | <a href='http://benjaminpitts-musician.herokuapp.com/' target='blank'>Musician</a><br><br>
    <img src='https://i.imgur.com/ZDzyIbG.jpg'><br><br>
    <a href='/'>Back to Home Page</a><br>
  </body>
</html>