<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin-Panel</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "panel.css" %}'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=source-sans-pro'
  </head>
  <body>
    <header>
    <h1>Admin Panel Task for hgapp</h1>
    <h5><i>building out some of the front end components for this development task, see UXPin model <a href='https://preview.uxpin.com/2a22ca73d804ad4c2a30eeb7a20f772e463b6062#/pages/142231162/specification/sitemap' target='blank'>here</a></i></h5>
  </header><br><br>
<div class='main'>
  
  <div class='assistance'>
    <img class='assistance-img' src="https://i.imgur.com/eEF2U5i.png">
  </div><br>
   
  <div class='wizard'>
    
    <div class='wizard-top'>
      <div class='short-copy'>
        Short copy about how to fully set up to experience the greatest HG's value
      </div>
      <div class='rectangle1'>
      <img src='https://i.imgur.com/AitJwBr.jpg'>
      </div>   
    <div class='rectangle2'>
      <img src='https://i.imgur.com/Ui7y7A1.jpg'>
    </div>
    <div class='completed'>
    Completed 1 of 5
  </div>
  </div>
  
    <div class='wizard-bottom'>
       
      <div class='wizard-box1'>
        <div class='img-box1'>
        <img src='https://i.imgur.com/ISfcYbP.png'>
        </div>
        <div class='step1'>
          Send your First Metric
        </div>             
    </div>  
    
    <div class='circle1'></div>
    <div class='dash'></div> 
    <div class='wizard-box2'>
      <div class='img-box2'>
      <img src='https://i.imgur.com/uwK35SO.png'>
      </div>
      <div class='step2'>
        Send your First Metric
      </div>              
    </div>
    
    <div class='circle2'></div>
    <div class ='dash'></div>
    <div class='wizard-box3'>
      <div class='img-box3'>
      <img src='https://i.imgur.com/GspdF95.png'>
      </div>
      <div class='step3'>
        Setup Alerts in Hosted Graphite
      </div>              
    </div>
    
    <div class='circle3'></div>
    <div class ='dash'></div>
    <div class='wizard-box4'>
      <div class='img-box4'>
      <img src='https://i.imgur.com/M5ifUly.png'>
      </div>
      <div class='step4'>
        Add a teammate
      </div>              
    </div>
    
    <div class='circle4'></div>
    <div class ='dash'></div>
    <div class='wizard-box5'>
      <div class='img-box5'>
      <img src='https://i.imgur.com/XBsMgxE.png'>
      </div>
      <div class='step5'>
        Enjoy Hosted Graphite
      </div>              
    </div>
    <div class='circle5'></div>  
  </div>      
</div><br>

<div class='bottom-container'>
  <div class='api-container'>
    
    <div class='box1'>
      <div class='your-api-key'>
      Your API Key
      </div>
          <div class='api-key-box'>
            <div class='key'>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx</div>    
            <!-- <img class='copy-box-img' src='https://i.imgur.com/iBm0h0K.jpg'> -->
            <img class='vertical' src='https://i.imgur.com/yF64ZXQ.jpg'> 
          </div>
         <div class='api-text'>
           This is your API key required for sending metrics.
         </div> 
      </div>
      
      <div class='box2'>
        <div class='metrics'>
          Metrics
        </div>
        <div class='metrics-box'>
          <div class='metrics-int'>0</div>
          <div class='metrics-text'>
          Metrics used out of 750
          </div>  
          <div class='metrics-button'>
          Send Metrics
          </div>
        </div>    
      </div>  
        
  </div>
  <div class='alert-box'>
    <div class='metrics'>
      Alerts
    </div>
    <div class='metrics-box'>
      <div class='metrics-int'>0</div>
      <div class='metrics-text'>
      Alerts used out of 5
      </div>  
    </div> 
  </div>
  
  <div class='team-box'>
    <div class='metrics'>
      Team
    </div>
    <div class='metrics-box'>
      <div class='metrics-int'>0</div>
      <div class='metrics-text'>
      Teammates invited out of 5
      </div>  
    </div>   
  </div>
  
  <div class='dashboard-box'> 
    <div class='metrics'>
      Alerts
    </div>
    <div class='metrics-box'>
      <div class='metrics-int'>0</div>
      <div class='metrics-text'>
      Dashboards Created
      </div>  
    </div>  
  </div>
</div> 
</div>  
  
    <br><br><a href='/'>Back to Home Page</a><br><br>
    <footer>Built by Benjamin Pitts: <a href='https://benjaminjackpitts.dev/'>Software Engineer</a> | <a href='https://benjaminpitts-musician.herokuapp.com/'>Musician</a></footer>
  </body>
</html>