<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin-Panel</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "panel.css" %}'>
  </head>
  <body>
    <header>
    <h1>Admin Panel Task for hgapp</h1>
    <h5><i>building out some of the front end components for this development task, see UXPin model <a href='https://preview.uxpin.com/2a22ca73d804ad4c2a30eeb7a20f772e463b6062#/pages/142231162/specification/sitemap' target='blank'>here</a></i></h5>
    </header><br>
<div class='main'>    

    
    



    
</div>    
    <br><br><a href='/'>Back to Home Page</a><br>
    <footer>Built by Benjamin Pitts: <a href='https://benjaminjackpitts.dev/'>Software Engineer</a> | <a href='https://benjaminpitts-musician.herokuapp.com/'>Musician</a></footer>
  </body>
</html>