<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "main.css" %}'>
  </head>
  <body>
    <header>
    <h2>Contact Me</h2>
    <h3><i>I would love to hear from you, please get in touch!</i></h3>
  </header><br>
    <img class='lux' src='https://i.imgur.com/MuVs3zm.jpg?1'><br><br>
    <a href='https://www.linkedin.com/in/benjaminjackpitts/' target='blank'>LinkedIn</a> | 
    <a href='https://www.facebook.com/ben.pitts.7/' target='blank'>Facebook</a> | 
    <a href='https://github.com/BenjaminPitts' target='blank'>GitHub</a><br><br><br>
    <a href='/'>Back to Home Page</a><br>
    <footer>Built by Benjamin Pitts: <a href='https://benjaminjackpitts.dev/'>Software Engineer</a> | <a href='https://benjaminpitts-musician.herokuapp.com/'>Musician</a></footer>
  </body>
</html>