<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "main.css" %}'>
  </head>
  <body>
    <header>
    <h1>Benjamin Pitts | Django Practice App</h1>
    <h5><i>This application is for python/django practice and can be used for running development tests</i></h5>
    <h4>See the <a href='https://github.com/BenjaminPitts/django-practice-app' target='blank'>Read Me</a> for setup steps on serving this app locally</h4>
  </header><br> 
    <img src="{% static '123.jpeg' %}">
    <br> | 
    <a href='/about'>About</a> | 
    <a href="{% url 'contact' %}">Contact</a> |
    <a href="{% url 'adminpanel' %}">Admin-Panel</a> |
    <br>
    <br>
    <form action="{% url 'result' %}">
      {% csrf_token %}
      <input type='text' name='user_int' />
      <input class='input-button' type='submit' value='Multiply Value by 69' /><br>
    </form>
    <br>  
    <button onClick="buttonFunc()">lightMode.js</button><button onClick="buttonFunc2()">darkMode.js</button><br>
    <script type='text/javascript' src="{% static 'main.js' %}"></script><br>
    <footer>Built by Benjamin Pitts: <a href='https://benjaminjackpitts.dev/'>Software Engineer</a> | <a href='https://benjaminpitts-musician.herokuapp.com/'>Musician</a></footer>
  </body>
</html>